@font-face {
    font-family: myFirstFont;
    src: url("./Museo500-Regular.ttf");
}

/* * {
    font-family: myFirstFont;
} */

h1 ,h2 ,h3, h4, h5, h6, p, a {
    font-family: myFirstFont !important;
}